<table>
  <tbody>
    <% book.post_comments.each do |post_comment| %>
    <tr>
      <td>
        <%= link_to user_path(post_comment.user) do %>
          <%= image_tag post_comment.user.get_profile_image, size: "50x50" %><br>
          <%= post_comment.user.name %>
        <% end %>
      </td>
      <td><%= post_comment.comment %></td>
      <td>
        <% if post_comment.user == current_user %>
          <%= link_to "Destroy", book_post_comments_path(book, post_comment), method: :delete, class: "btn btn-sm btn-danger float-end", remote: true %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

      



